@inherits AboutBase

<div class="row">
    <span class="col-sm-12 spacer-h-10"></span>
</div>
<div class="row">
    <span class="col-sm-12 line"></span>
</div>
<div class="row">
    <span>
        <img src="images/Icon.png" class="grimoire-logo-big" />
    </span>
    <span>
        <h1 class="grimoire-title  ml-3 mt-2">Grimoire</h1>
    </span>
</div>
<div class="row">
    <span class="col-sm-12 line"></span>
</div>
<div class="row">
    <p class="m-5">
        Open-Source Script Manager
        <br />
        Version: @Version
        <br />
        Repository: https://github.com/Kelvysb/Grimoire
        <br />
        Author: KelvysB.
    </p>
</div>