@inherits ScriptBlockItemBase
<div class="card">
    <div class="card-header">
        @ScriptBlock.Description
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <span class="oi oi-code"></span>
            </div>
            <div class="col-sm-8">
                @Info
            </div>
            <div class="col-sm-1">
                @if (ScriptBlock.LastResult != null && ScriptBlock.LastResult.ResultType != ResultType.None)
                {
                    @switch (ScriptBlock.LastResult.ResultType)
                    {
                        case ResultType.Success:
                            <span class="btn btn-primary rounded-circle bg-success">
                                <span class="oi oi-check"></span>
                            </span>
                            break;
                        case ResultType.Error:
                            <span class="btn btn-primary rounded-circle bg-danger">
                                <span class="oi oi-x"></span>
                            </span>
                            break;
                        case ResultType.Warning:
                            <span class="btn btn-primary rounded-circle bg-warning">
                                <span class="oi oi-warning"></span>
                            </span>
                            break;
                    }
                }
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary rounded-circle" @onclick="EditScript">
                    <span class="oi oi-script"></span>
                </button>
            </div>
            <div class="col-sm-1">
                @if (!Executing)
                {
                    <button class="btn btn-primary rounded-circle" @onclick="RunScript">
                        <span class="oi oi-media-play"></span>
                    </button>
                }
                else
                {
                    <div class="spinner-border rounded-circle text-primary" role="status">
                        <span class="sr-only">Running...</span>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <span class="oi oi-info"></span>
            </div>
            <div class="col-sm-11">
                @if (ScriptBlock.LastResult != null && ScriptBlock.LastResult.FilteredResult != null)
                {
                    @ScriptBlock.LastResult.FilteredResult
                }
            </div>
        </div>
    </div>
</div>