@inherits ScriptBlockItemBase

<div class="card container script-item mr-1 ml-1" @onclick="SelectScript" @ondblclick="RunScript">
    <div class="row">
        <div class="col-sm-10 item-text">
            @ScriptBlockRunner.ScriptBlock.Description
        </div>
        <div class="col-sm-2">
            @if (!ScriptBlockRunner.IsRunning)
            {
                @if (ScriptBlockRunner.ScriptBlock.LastResult != null && ScriptBlockRunner.ScriptBlock.LastResult.ResultType != ResultType.None)
                {
                    @switch (ScriptBlockRunner.ScriptBlock.LastResult.ResultType)
                    {
                        case ResultType.Success:
                            <img class="small-simbol" src="./images/ok.svg" />
                            break;
                        case ResultType.Error:
                            <img class="small-simbol" src="./images/error.svg" />
                            break;
                        case ResultType.Warning:
                            <img class="small-simbol" src="./images/warning.svg" />
                            break;
                    }
                }
            }
            else
            {
                <img class="small-simbol-running" role="status" src="./images/running.svg" />
            }
        </div>
    </div>
</div>