@inherits SideMenuBase
<div class="container">
    <div class="row nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-list" aria-hidden="true"></span>
        </NavLink>
    </div>
    <div class="row nav-item">
        <NavLink class="nav-link" href="editScript">
            <span class="oi oi-plus rounded" aria-hidden="true"></span>
        </NavLink>
    </div>
    <div class="row nav-item">
        <NavLink class="nav-link" href="config">
            <span class="oi oi-cog" aria-hidden="true"></span>
        </NavLink>
    </div>
</div>