@inherits SideMenuBase
<div class="container">
    <div class="row nav-item">
        <div class="col-sm-2">
            <img src="images/Icon.png" class="grimoire-logo" />
        </div>
        <div class="col-sm-10">
            <h2 class="grimoire-title">Grimoire</h2>
        </div>
    </div>
    <div class="row nav-item">
        <div class="script-list">
            @if (Business.ScriptRunners != null)
            {
                @foreach (IGrimoireRunner script in Business.ScriptRunners)
                {
                    <ScriptBlockItem @ref="ItemRef" ScriptBlockRunner="@script" />
                    <div class="mb-2" />
                }
            }
            else
            {
                <div>Loading...</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <img class="big-simbol button ml-0" src="./images/add.svg" @onclick="AddNewScript" />
        </div>
    </div>
</div>