@inherits SideMenuBase
<div class="container">
    <div class="row title">
        <div class="col-sm-2">
            <img src="images/Icon.png" class="grimoire-logo" />
        </div>
        <div class="col-sm-10 menu-buttons">
            <span class="button ml-2">
                <img class="mid-simbol button ml-0" src="./images/add.svg" alt="Add Script" @onclick="AddNewScript" />
            </span>
            <span class="button ml-2">
                <img class="mid-simbol button ml-0" src="./images/reload.svg" alt="Add Script" @onclick="Reload" />
            </span>
            <span class="button ml-2">
                <img class="mid-simbol button ml-0" src="./images/config.svg" alt="Add Script" @onclick="Config" />
            </span>
            <span class="button ml-2 tooltip-master">
                <img class="mid-simbol pointer-event" src="./images/about.svg" alt="About" @onclick="About" />
            </span>
        </div>
    </div>
    <div class="row nav-item">
        <div class="script-list">
            @if (Business.ScriptRunners != null)
            {
                @foreach (IGrimoireRunner script in Business.ScriptRunners)
                {
                    <ScriptBlockItem @ref="ItemRef" ScriptBlockRunner="@script" />
                    <div class="mb-2" />
                }
            }
            else
            {
                <div>Loading...</div>
            }
        </div>
    </div>
</div>