@page "/"
@inherits IndexBase
@using Grimoire.Components
<div>
    @if (scripts != null)
    {
        @foreach (GrimoireScriptBlock script in scripts)
        {
            <ScriptBlockItem ScriptBlock="@script" />
            <div class="mb-2" />
        }
    }
    else
    {
        <div>Loading...</div>
    }
</div>