@page "/"
@inherits IndexBase
@using Grimoire.Components

<div class="sidebar">
    <SideMenu @ref="SideMenu"></SideMenu>
</div>
<div class="main">
    <div class="content px-4">
        <div id="ScriptContent">
            @switch (AppMode)
            {
                case AppMode.Detail:
                    <ScriptBlockDetail @ref="ScriptDetail"></ScriptBlockDetail>
                    break;
                case AppMode.Edit:
                    <ScriptEdit @ref="ScriptEdit"></ScriptEdit>
                    break;
                default:
                    break;
            }
        </div>
    </div>
</div>