@page "/"
@inherits IndexBase
@using Grimoire.Components

<div class="script-list">
    @if (grimoireBusiness.ScriptRunners != null)
    {
        @foreach (IGrimoireRunner script in grimoireBusiness.ScriptRunners)
        {
            <ScriptBlockItem ScriptBlock="@script" />
            <div class="mb-2" />
        }
    }
    else
    {
        <div>Loading...</div>
    }
</div>
<div id="ScriptContent"></div>