@page "/"
@inherits IndexBase
@using Grimoire.Components

@switch (Business.GetConfig().Result.Theme)
{
    case "Light":
        <link href="css/light.css" rel="stylesheet" />
        break;
    default:
        <link href="css/dark.css" rel="stylesheet" />
        break;
}

<div class="sidebar">
    <SideMenu @ref="SideMenu"></SideMenu>
</div>
<div class="main">
    <div class="content px-4">
        <div id="ScriptContent">
            @switch (AppMode)
            {
                case AppMode.Detail:
                    <ScriptBlockDetail @ref="ScriptDetail"></ScriptBlockDetail>
                    break;
                case AppMode.Edit:
                    <ScriptEdit @ref="ScriptEdit"></ScriptEdit>
                    break;
                case AppMode.Config:
                    <Config @ref="Config"></Config>
                    break;
                case AppMode.Vault:
                    <VaultEdit></VaultEdit>
                    break;
                case AppMode.About:
                    <About></About>
                    break;
                default:
                    break;
            }
        </div>
    </div>
</div>
@if (ConfirmEditModal)
{
    <ModalDialog Type="ModalType.Ok"
                 Title="Edit Script"
                 Message="Script saved."
                 OkAction="CloseModals" />
}
@if (ConfirmDeleteModal)
{
    <ModalDialog Type="ModalType.Ok"
                 Title="Delete"
                 Message="Script removed."
                 OkAction="CloseModals" />
}
@if (ConfirmConfigModal)
{
    <ModalDialog Type="ModalType.Ok"
                 Title="Settings"
                 Message="Settings saved."
                 OkAction="ConfirmReload" />
}
@if (ErrorModal)
{
    <ModalDialog Type="ModalType.Error"
                 Title="Error"
                 Message=@LastError
                 ErrorDetail=@LastErrorDetail
                 OkAction="CloseModals" />
}