@page "/Detail/{ScriptName}"
@inherits ScriptBlockDetailBase

@if (ScriptBlock != null)
{
    <div class="card">
        <div class="bg-primary card-header">
            <h3 class="col-sm-12">@ScriptBlock.Description</h3>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    @ScriptBlock.LastResult.FilteredResult
                </div>
                <div class="row">
                    @ScriptBlock.LastResult.Errors
                </div>
                <div class="row">
                    @ScriptBlock.LastResult.Warninings
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-1">
                        @if (ScriptBlock.LastResult != null && ScriptBlock.LastResult.ResultType != ResultType.None)
                        {
                            @switch (ScriptBlock.LastResult.ResultType)
                            {
                                case ResultType.Success:
                                    <span class="btn btn-primary rounded-circle bg-success">
                                        <span class="oi oi-check"></span>
                                    </span>
                                    break;
                                case ResultType.Error:
                                    <span class="btn btn-primary rounded-circle bg-danger">
                                        <span class="oi oi-x"></span>
                                    </span>
                                    break;
                                case ResultType.Warning:
                                    <span class="btn btn-primary rounded-circle bg-warning">
                                        <span class="oi oi-warning"></span>
                                    </span>
                                    break;
                            }
                        }
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary rounded-circle" @onclick="RemoveScript">
                            <span class="oi oi-trash"></span>
                        </button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary rounded-circle" @onclick="EditScript">
                            <span class="oi oi-pencil"></span>
                        </button>
                    </div>
                    <div class="col-sm-1">
                        @if (!Executing)
                        {
                            <button class="btn btn-primary rounded-circle" @onclick="RunScript">
                                <span class="oi oi-media-play"></span>
                            </button>
                        }
                        else
                        {
                            <div class="spinner-border rounded-circle text-primary" role="status">
                                <span class="sr-only">Running...</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="spinner-border rounded-circle align-content-lg-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}